div {
    max-width: 100%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 600px;
}

th, td {
    border: 1px solid;
    padding: 12px;
    text-align: center;
}

th {
    width: 10%;
}
